.photoTabContainer {
    position: relative;
    max-width: 420px;
    margin-bottom: 30px;
    // background: #000;
    // & img {
    //     &:hover {
    //         opacity: 0.7;
    //     }
    // }

    &:hover {
        cursor: zoom-in;
    }
}

.photoTabLink {
    cursor: zoom-in;
}

.favoriteAction {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
    display: flex;
    cursor: pointer;
}

.favoriteActionLike {
    width: 40px;
    height: 32px;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-right: 10px;

    &:hover {
        & .favoriteIcon {
            color: #000000;
        }
    }

    
}

.favoriteIcon {
    color: #767676;
    font-size: 17px !important;
    
}

.collectAction {
    width: 90px;
    height: 32px;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #767676;
    font-size: 17px !important;

    &:hover {
        background-color: #ffffff;

        & .collectionIcon {
            color: #000000;
        }

        & .collectionText {
            color: #000000;
        }
    }
}

.collectionIcon {
    color: #767676;
    position: relative;
    right: 5px;
    font-size: 17px !important;

   
}

.collectionText {
    font-size: 14px !important;

    
}

.favoriteActionLiked {
    background: #F15151;


    &:hover {
        background: #E04C4B;

        & .favoriteIcon {
            color: #ffffff;
        }
    }

    & .favoriteIcon {
        color: #ffffff;

    }
}

.downloadAction {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 32px;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    color: #767676;
}

.profileAction {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
   // z-index: 2;
    cursor: pointer;
}

.profileImage {
    border-radius: 50%;
}

.profileName {
    font-size: 10px;
    color: #fff;
    font-size: 17px;
    margin-left: 5px;
}

.downloadButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}