.Photos_container {
}

.Photos_title {
    max-width: 1320px;
    margin: 1rem auto;
    font-size: 3rem;
}

.Loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
