
.photoModal {
  background: #fff;
  position: fixed;
  top: 7%;
  bottom: 7%;
  right: 7%;
  left: 7%;
  border-radius: 6px;
}

.photoModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.photoModalProfile {
  display: flex;
  align-items: center;
}

.photoModalProfileName {
  font-size: 15px;
  line-height: 1.5;
}

.photoModalProfileUsername {
  font-size: 10px;
}

.photoModalActionsContainer {
  display: flex;
  align-items: center;
}

.photoModalButtonCollect {
  margin-right: 5px;
}


.photoModalProfileText {
  margin-left: 7px;
}

.photoModalProfileImg {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-left: 15px;
  border-radius: 50%;
}

.photoImgContainer  {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.photoImg {
  width: auto;
  height: 100%;
}